* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 20px;
  padding: 20px;
  height: 500px;
  width: 300px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);

}


.display {
  width: 100%;
  text-align: right;
  background-color: #1a1a1a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
  color: white;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5),
              inset 0 -3px 8px rgba(255, 255, 255, 0.05);
  margin-bottom: 15px;
}


.subdisplay {
  font-size: 1rem;
  opacity: 0.6;
  margin-bottom: 5px;
}

.main-display {
  font-size: 2rem;
  font-weight: 600;
}
